.CodeMirror-gutter.lintyai-gutter {
    
}

.CodeMirror-gutter-elt .lintyai-gutter {
    width: 20px;
    color: #fff;
    text-align: right;
    padding-right: 5px;
    margin-left: -28px;
}
.CodeMirror-gutter-elt .lintyai-gutter.problem_type_warning,
.CodeMirror-gutter-elt .lintyai-gutter.warning {
    background: #ff9933;
}
.CodeMirror-gutter-elt .lintyai-gutter.notice {
    background: #ffcc66;
}
.lintyai-line-widget {
    color: #fff;
    background: #cc3333;
    padding: 5px 0 5px 60px;
    white-space: pre;
}
.lintyai-line-widget.problem_type_warning,
.lintyai-line-widget.warning {
    background: #ff9933;
}
.lintyai-line-widget.notice {
    background: #ffcc66;
}